@import '../variable/variable';

.apresentacao {
    background-color: $rosa;
}

.apresentacao__contanier {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.ct-conteudo {
    h1 {
        color: $preto;
        font-weight: 600;
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 24px;
    }

    p {
        color: $cinza-escuro;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 210px;
        color: $branco;
        background-color: $vermelho;
        border-radius: 8px;
        padding: 12px 32px;
        text-decoration: none;
    }
}


.apresentacao__imagem {
    background: url(../../img/imagensmaozinha.svg) center / cover no-repeat;
    display: inline-block;
    width: 600px;
    height: 360px;
}

@media screen and (max-width: 768px) {
    .apresentacao__contanier {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .apresentacao__contanier {
        text-align: center;
    }

    .ct-conteudo {
        h1 {
            font-size: 32px;
            line-height: 40px;
        }

        p {
            font-size: 14px;
            line-height: 21px;
            br {
                display: none;
            }
        }

        a {
            width: auto;
        }

    }

    .apresentacao__imagem {
        width: 100%;
        height: 250px;
        margin: 25px 0;
    }
}

@media screen and (max-width: 375px) {
    .apresentacao__imagem {
        height: 200px;
    }
}
@media screen and (max-width: 320px) {
    .apresentacao__imagem {
        height: 160px;
    }
}